.burger-icon {
    height: 35px;
    width: 35px;
    position: absolute;
    left: 2.5%;
    top: 15px;
    cursor: pointer;
    z-index: 11000;
    transition: all 1s ease-in;
}

.burger-icon div {
  display: block;
  width: 100%;
  border-radius: 5px;
  height: 3px;
  margin: 7.5px auto;
  transform: translateY(0) rotate(0deg);
  transition: all .25s ease-in;
}

.burger-icon.active div:first-child {
  transform: translateY(11px) rotate(40deg);
  transition: transform .25s ease-in;
}
.burger-icon.active div:nth-child(2) {
  opacity: 0;
  transition: transform .25s ease-in;
}
.burger-icon.active div:last-child {
  transform: translateY(-10px) rotate(-40deg);
  transition: transform .25s ease-in;
}
