
.button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20%;
}

.button:before, .button:after {
  position: absolute;
  right: 15%;
  top: 50%;
  content: "";
  height: 7.5px;
  width: 2px;
  background: white;
  display: inline-block;
}

.button::before {
  transform: translateY(0%) rotate(40deg);
}

.button::after {
  transform: translateY(-70%) rotate(-40deg);
}
@media screen and (max-width: 900px) {
  .button {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .button {
    width: 80%;
  }
}



.button-island, .button-island:hover {
  cursor: pointer;
  color: black;
  text-align: center;
  position: absolute;
  background: none;
  border: none;
}
