.main-content {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;

}

.main-content * {
  transition: color .1s ease-in;
}

.main-content header {
  font-size: 42px;
}
