.nav-menu {
  position: fixed;
  height: 70px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
  transform: translateY(-100%);
  transition: all .15s ease-in;
}
.nav-menu.active {
  transform: translateY(0);
  transition: all .15s ease-in;
}

.nav-item {
  color: #333333;
  font-size: 14px;
  margin: 0 2.5%;
  display: inline-block;
  line-height: 5em;
  vertical-align: middle;
  transition: color 0.25s ease-in;
}

.go-pro {
  background-color: rgba(0,0,0,0.5);
  padding: 0 15px 2px 15px;
  border-radius: 15px;
  line-height: 2em;
}
