/*
    *SMACSS Architectural Structure Build for Gulp v0.1
    *Author: Maciej Sitko
    *Date: 12 July 2015
    *Email: maciej@neatcube.co.uk
    *Repository:


/* Tools */
/* ==|====================
   Helpers/Clearfix
   ======================= */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* Base */
body, html {
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: "sofia-pro", Helvetica; }

:focus {
  outline: none; }

body * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

header {
  font-size: 42px;
  font-weight: bold; }

h1, h2, h3, h4, h5, h6 {
  font-family: "sofia-pro", Helvetica; }

img {
  width: 100%; }

a {
  font-family: "sofia-pro", sans-serif;
  text-decoration: none;
  color: #333333; }

header p, p {
  color: white;
  font-family: "adobe-caslon-pro";
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  font-weight: 100;
  font-size: 18px;
  line-height: 1.5em; }

hr {
  border: none;
  border-style: solid;
  border-width: 1px 0 0 0;
  width: 100%;
  margin: 20px auto;
  max-width: 100px; }

nav {
  text-align: center;
  height: 0;
  height: auto;
  font-size: 0;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; }

button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 25px;
  text-align: left;
  text-transform: uppercase;
  background: #f4615d;
  color: white;
  font-size: 14px;
  line-height: 2em;
  text-align: center;
  font-family: "sofia-pro", sans-serif;
  border: none;
  border-radius: 5px; }

button:hover {
  transition: all .15s ease-in;
  background: #c62621; }

/* Fonts */
/* Layout */
/* ==|====================
   Layout/Constrained
   ======================= */
.layout-constrained {
  max-width: pxtoem(1140, 16);
  padding: pxtoem(20, 16);
  margin: 0 auto; }

/* Modules */
.button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20%; }

.button:before, .button:after {
  position: absolute;
  right: 15%;
  top: 50%;
  content: "";
  height: 7.5px;
  width: 2px;
  background: white;
  display: inline-block; }

.button::before {
  transform: translateY(0%) rotate(40deg); }

.button::after {
  transform: translateY(-70%) rotate(-40deg); }

@media screen and (max-width: 900px) {
  .button {
    width: 50%; } }
@media screen and (max-width: 600px) {
  .button {
    width: 80%; } }
.button-island, .button-island:hover {
  cursor: pointer;
  color: black;
  text-align: center;
  position: absolute;
  background: none;
  border: none; }

.carousel-arrow {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%); }

.triangle {
  margin: 25px auto; }

.border-line {
  position: absolute;
  width: 100%;
  height: 1px;
  border-bottom: 5px solid gainsboro;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0; }

.main-content {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top; }

.main-content * {
  transition: color .1s ease-in; }

.main-content header {
  font-size: 42px; }

#hero-container {
  overflow: hidden; }

.hero-field {
  background-position: center top 100px;
  background-size: 100px;
  background-repeat: no-repeat; }

.burger-icon {
  height: 35px;
  width: 35px;
  position: absolute;
  left: 2.5%;
  top: 15px;
  cursor: pointer;
  z-index: 11000;
  transition: all 1s ease-in; }

.burger-icon div {
  display: block;
  width: 100%;
  border-radius: 5px;
  height: 3px;
  margin: 7.5px auto;
  transform: translateY(0) rotate(0deg);
  transition: all .25s ease-in; }

.burger-icon.active div:first-child {
  transform: translateY(11px) rotate(40deg);
  transition: transform .25s ease-in; }

.burger-icon.active div:nth-child(2) {
  opacity: 0;
  transition: transform .25s ease-in; }

.burger-icon.active div:last-child {
  transform: translateY(-10px) rotate(-40deg);
  transition: transform .25s ease-in; }

.nav-menu {
  position: fixed;
  height: 70px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
  transform: translateY(-100%);
  transition: all .15s ease-in; }

.nav-menu.active {
  transform: translateY(0);
  transition: all .15s ease-in; }

.nav-item {
  color: #333333;
  font-size: 14px;
  margin: 0 2.5%;
  display: inline-block;
  line-height: 5em;
  vertical-align: middle;
  transition: color 0.25s ease-in; }

.go-pro {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 15px 2px 15px;
  border-radius: 15px;
  line-height: 2em; }

/* State */
.hidden {
  display: none; }

@keyframes hover {
  0% {
    transform: translateY(0%); }
  25% {
    transform: translateY(1%); }
  50% {
    transform: translateY(0%); }
  75% {
    transform: translateY(-1%); }
  100% {
    transform: translateY(0%) rotate(0deg); } }
.hover {
  cursor: pointer;
  position: fixed;
  animation: hover 2s ease-in;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: left 1s ease-out; }

.hover:first-child {
  animation-delay: 0; }

.hover:nth-child(2) {
  animation-delay: .25s; }

.hover:nth-child(3) {
  animation-delay: .5s; }

@keyframes background-fade {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.8; }
  100% {
    opacity: 1; } }
.fade-in-out {
  opacity: 1;
  animation: background-fade 2s ease-in;
  animation-iteration-count: infinite; }

/*# sourceMappingURL=styles.css.map */
