
@keyframes background-fade {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }
  .fade-in-out {
    opacity: 1;
    animation: background-fade 2s ease-in;
    animation-iteration-count: infinite;
  }
