@keyframes hover {
  0% {
    transform: translateY(0%) ;
  }
  25% {
    transform: translateY(1%) ;
  }
  50% {
    transform: translateY(0%) ;
  }
  75% {
    transform: translateY(-1%) ;
  }
  100% {
    transform: translateY(0%) rotate(0deg);
  }
}

.hover {
  cursor: pointer;
  position: fixed;
  animation: hover 2s ease-in;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: left 1s ease-out;
}


.hover:first-child {
  animation-delay: 0;
}

.hover:nth-child(2) {
  animation-delay: .25s;

}

.hover:nth-child(3) {
  animation-delay: .5s;
}
