body,html {
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: "sofia-pro", Helvetica;

}

:focus { outline: none; }

body * {
    -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header {
  font-size: 42px;
  font-weight: bold;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "sofia-pro", Helvetica;
}

img {
  width: 100%;
}


a {
  font-family: "sofia-pro", sans-serif;
  text-decoration: none;
  color: #333333;
}

header p, p {
  color: white;
  font-family: "adobe-caslon-pro";
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  font-weight: 100;
  font-size: 18px;
  line-height: 1.5em;
}

hr {
  border: none;
  border-style: solid;
  border-width: 1px 0 0 0;
  width: 100%;
  margin: 20px auto;
  max-width: 100px;
}
nav {
  text-align: center;
  height: 0;
  height: auto;
  font-size: 0;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 25px;
  text-align: left;
  text-transform: uppercase;
  background: #f4615d;
  color: white;
  font-size: 14px;
  line-height: 2em;
  text-align: center;
  font-family: "sofia-pro", sans-serif;

  border: none;
  border-radius: 5px;
}

button:hover {
  transition: all .15s ease-in;
  background: #c62621;
}
